In [1]:
#coding:utf-8
import pandas as pd
import time

from sklearn.metrics import log_loss
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
from scipy.stats import norm, skew #加载一些统计的库

In [2]:
# dataa = pd.read_csv('1234.csv',index_col=False)
datab = pd.read_csv('train_category.csv',index_col=False)
datac = pd.read_csv('train_hour.csv',index_col=False)
# datad = pd.read_csv('train_item_click.csv',index_col=False)
# datae = pd.read_csv('train_shop.csv',index_col=False)
# dataf = pd.read_csv('train_user_click.csv',index_col=False)
# datag = pd.read_csv('train_property_click.csv',index_col=False)
# datah = pd.read_csv('train_shop_id_click.csv',index_col=False)
# dataj = pd.read_csv('train_brand_click.csv',index_col=False)
#add
datak = pd.read_csv('train_user_clickpv.csv',index_col=False)
datal = pd.read_csv('train_property_0_pvnum.csv',index_col=False)
datai = pd.read_csv('train_property_1_pvnum.csv',index_col=False)
datao = pd.read_csv('train_property_2_pvnum.csv',index_col=False)
datap = pd.read_csv('train_item_id_pvnum.csv',index_col=False)

In [3]:
datab = datab.rename(columns=({'item_category_list':'item_category_list_num'}))
datab = datab.rename(columns=({'item_property_list':'item_property_list_num'}))

In [4]:
all_data = datab
all_data = pd.merge(all_data,datac,on=['instance_id'],how='left')
# all_data = pd.merge(all_data,datad,on=['instance_id'],how='left')
# all_data = pd.merge(all_data,datae,on=['instance_id'],how='left')
# all_data = pd.merge(all_data,dataf,on=['instance_id'],how='left')
# all_data = pd.merge(all_data,datag,on=['instance_id'],how='left')
# all_data = pd.merge(all_data,datah,on=['instance_id'],how='left')
# all_data = pd.merge(all_data,dataj,on=['instance_id'],how='left')
# add
all_data = pd.merge(all_data,datak,on=['instance_id'],how='left')
all_data = pd.merge(all_data,datal,on=['instance_id'],how='left')
all_data = pd.merge(all_data,datai,on=['instance_id'],how='left')
all_data = pd.merge(all_data,datao,on=['instance_id'],how='left')
all_data = pd.merge(all_data,datap,on=['instance_id'],how='left')

In [5]:
all_data.shape

(478087, 9)

In [6]:
all_data.to_csv('train_all.csv',index=False)

In [7]:
# data2a = pd.read_csv('456.csv',index_col=False)
data2b = pd.read_csv('test_category.csv',index_col=False)
data2c = pd.read_csv('test_hour.csv',index_col=False)
# data2d = pd.read_csv('test_item_click.csv',index_col=False)
# data2e = pd.read_csv('test_shop.csv',index_col=False)
# data2f = pd.read_csv('test_user_click.csv',index_col=False)
# data2g = pd.read_csv('test_property_click.csv',index_col=False)
# data2h = pd.read_csv('test_shop_id_click.csv',index_col=False)
# data2j = pd.read_csv('test_brand_click.csv',index_col=False)
#add
data2k = pd.read_csv('test_user_clickpv.csv',index_col=False)
data2l = pd.read_csv('test_property_0_pvnum.csv',index_col=False)
data2i = pd.read_csv('test_property_1_pvnum.csv',index_col=False)
data2o = pd.read_csv('test_property_2_pvnum.csv',index_col=False)
data2p = pd.read_csv('test_item_id_pvnum.csv',index_col=False)

In [8]:
data2b = data2b.rename(columns=({'item_category_list':'item_category_list_num'}))
data2b = data2b.rename(columns=({'item_property_list':'item_property_list_num'}))

In [9]:
all_data2 = data2b
all_data2 = pd.merge(all_data2,data2c,on=['instance_id'],how='left')
# all_data2

#add
all_data2 = pd.merge(all_data2,data2k,on=['instance_id'],how='left')
all_data2 = pd.merge(all_data2,data2l,on=['instance_id'],how='left')
all_data2 = pd.merge(all_data2,data2i,on=['instance_id'],how='left')
all_data2 = pd.merge(all_data2,data2o,on=['instance_id'],how='left')
all_data2 = pd.merge(all_data2,data2p,on=['instance_id'],how='left')

In [10]:
all_data2.shape

(18371, 9)

In [11]:
all_data2

,instance_id,item_category_list_num,item_property_list_num,hour_num,category_1_pvnum,property_0_pvnum,property_1_pvnum,property_2_pvnum,item_id_pvnum
0,2475218615076601065,2,1,6,1,1,1,1,1
1,398316874173557226,2,0,5,7,3,3,2,1
2,6586402638209028583,2,2,5,2,1,1,1,1
3,1040996105851528465,2,1,5,1,1,1,1,1
4,6316278569655873454,2,4,5,1,1,1,1,1
5,868158305045921978,2,0,5,1,2,2,1,1
6,5713520501786699854,2,0,4,1,1,1,1,1
7,932945015407923184,2,1,5,1,1,1,1,1
8,1919197847086752313,2,0,4,1,1,1,1,1
9,304887065966615346,2,1,5,1,1,1,1,1
10,3282556850371665,2,3,5,1,1,1,1,1
11,8829646398295427742,2,0,3,1,1,1,1,1
12,3177704368658581090,2,1,6,1,1,1,1,1
13,331811904131229654,2,2,4,1,1,1,1,1
14,1529584165704680903,2,1,6,1,1,1,1,1
15,410957802501821801,2,0,4,2,2,2,2,1
16,7858701120525579871,2,0,5,5,3,3,1,1
17,1007593432911733192,2,0,5,1,1,1,1,1
18,6933421324008829721,1,1,6,1,2,2,1,1
19,949601458836318592,2,0,6,1,1,1,1,1
20,1204371563787795352,2,1,5,1,1,1,1,1
21,6697124581068234934,2,1,6,2,1,1,1,1
22,7458626674337135052,2,0,5,2,2,2,2,2
23,6451011837344535814,2,1,5,1,1,1,1,1
24,4970342844069330588,2,2,1,1,1,1,1,1
25,1311037283502827477,2,3,1,1,1,1,1,1
26,5367830782177104937,2,0,4,2,2,2,1,1
27,130085071580390177,2,1,5,1,2,1,1,1
28,5277248246761080968,2,1,5,1,1,1,1,1
29,8248237544078109435,2,0,6,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
18341,6307702657719428200,2,3,5,1,1,1,1,1
18342,9034943252763268300,2,1,5,2,2,2,2,1
18343,7424500915900560254,2,1,5,3,2,1,1,1
18344,1780351223674224578,2,0,5,1,1,1,1,1
18345,2687746965037747411,2,0,5,1,1,1,1,1
18346,1682944844186680588,2,0,6,1,1,1,1,1
18347,573463664029912056,2,0,6,1,1,1,1,1
18348,1876520637172632472,2,0,5,1,1,1,1,1
18349,5212952446591466736,2,0,5,1,1,1,1,1
18350,6721999567927514124,2,0,4,7,6,6,1,1
18351,9099828709949113786,2,0,5,2,1,1,1,1
18352,2869971643116990166,2,2,5,1,1,1,1,1
18353,9905078821845005,2,0,5,3,1,3,1,1
18354,2780349896508892570,2,3,5,1,1,1,1,1
18355,386917396911175529,2,0,5,2,2,1,1,1
18356,1531314888576311191,1,1,5,1,1,1,1,1
18357,448057823895352888,2,3,3,1,1,1,1,1
18358,5513085311457495517,2,3,4,5,1,2,2,1
18359,5660000350153270793,2,3,4,1,1,1,1,1
18360,7273836519562406981,2,1,5,1,1,1,1,1
18361,2916193909730283463,2,3,3,1,1,1,1,1
18362,9161335756218550796,2,3,5,2,2,2,1,1
18363,5289288820294504479,2,1,5,1,1,1,1,1
18364,7401528437843873561,2,3,5,1,1,1,1,1
18365,2670064366569012998,2,1,6,1,1,1,1,1
18366,196556205576680664,2,1,6,1,1,1,1,1
18367,3972597272081581867,2,1,5,1,1,1,1,1
18368,7331170863335915445,2,0,5,7,6,3,1,1
18369,4801514605649495171,2,0,5,2,2,1,1,1
18370,4931599763172137858,2,1,3,1,1,1,1,1

In [12]:
all_data2.to_csv('test_all.csv',index=False)