In [ ]:
#coding:utf-8
import pandas as pd
import time

from sklearn.metrics import log_loss
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
from scipy.stats import norm, skew #加载一些统计的库

In [ ]:
print('train')
train = pd.read_table('train.txt',sep=' ',index_col=False)

train

In [5]:
def pre_process(data):
    '''
    :param data: 
    :return: 
    '''

    print('item_category_list_ing')
    for i in range(3):
        data['category_%d'%(i)] = data['item_category_list'].apply(
            lambda x:x.split(";")[i] if len(x.split(";")) > i else " "
        )
    del data['item_category_list']

    print('item_property_list_ing')
    for i in range(3):
        data['property_%d'%(i)] = data['item_property_list'].apply(
            lambda x:x.split(";")[i] if len(x.split(";")) > i else " "
        )
    del data['item_property_list']
    
    print('context_timestamp_ing')
    data['context_timestamp'] = data['context_timestamp'].apply(time2cov)
    
    return data

In [7]:
train = pre_process(train)

item_category_list_ing
item_property_list_ing
context_timestamp_ing

In [ ]:
train.columns

In [14]:
train[['instance_id','category_1']].groupby('category_1').count()

                     instance_id
category_1
1147074168968532252        73756
1367177154073382718        33724
1852600517265062354       491904
1909641874861640857       848040
1916390345133212703       252098
1920084168104334820        14371
2211060154630359130       367850
2871729383671301763       763775
3089254302947620489        51563
3348197449185791127       150363
3434689896486063330       318817
3613783563199627217      1206582
394915394741096735         66158
453525480366550911        515772
4911723539855588624       379207
5066527928272238333       109982
5685690139879409547       717773
597424223456586363         20947
6254910033820815248         1494
6670526099037031245       684394
6693726201323251689       458618
7226013370341271704        71868
7314150500379498593       424915
7423553047267511438        26495
768579787521575291       1370209
8009556227083201357       106256
8468007938333142982        23474
8468370105908620354       113387
8769426218101861255        42650
8841625760168847319       721669
926205401302902289          3925

In [11]:
train[['instance_id','category_0']].groupby('category_0').count()

                    instance_id
category_0
836752724084922533     10432036

In [13]:
train[['instance_id','category_2']].groupby('category_2').count()

                     instance_id
category_2
                         6330986
1036082357054043890       743189
1211218747418350392        23382
1467870729316566837           77
1477337614002467815         1986
1495388799908940789        16921
1518916302398149448           22
1648445715268836954        81674
1773757399237042247        17684
2066714603291850185         8211
2104555450664741842        37758
2191908169494844354          370
2394261830557757570         7449
242926926543588023           457
2633274017530890587         2079
3035072468277339626       293403
3056172284875068614          285
3123955557674420771        25414
3124898744105967967         5522
3492642177859571113       566038
367136320586454083            89
3876693557918392475        52913
4039562740693964315          103
4332449207759411579        15683
4423756922475142608         1553
4521717672641793229        46218
4559837827486289562        18172
4620042370703789850        36451
4642777236640081537        19046
4782940324184008212          411
...                          ...
4993377953084092565        24242
5031957903352580938         3543
5103300281712296962          271
5575767811251205150          213
5896127768779493900          157
5941301806663871051        35699
6119230265477212550        29121
6370392357088946840       299355
669661864989165044         36357
6731593623692005614        10490
6747145348367564109          322
6783634657823731718        91222
6861763693457621349         8737
7017624410306475897          101
7438434275307065989         1446
7497531498747093265       586002
7505733337486864357         3369
7848078693615386447       282223
7978017778431586884           71
8010602907289637527            1
8045794075432611525           27
8077497621372666304        32925
8096917686185033019        92268
8110966937369051039          170
8123435010580049163        59251
8418308787262291128          454
8727397285826950640        38247
8807331407484389455         1467
8826467575698439758        74967
9030622377694665158       329892

[61 rows x 1 columns]