In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
from scipy.stats import norm, skew #加载一些统计的库
import time
import gc

In [2]:
def time2cov(time_):
    '''
    时间是根据天数推移，所以日期为脱敏，但是时间本身不脱敏
    :param time_: 
    :return: 
    '''
    return time.strftime("%Y-%m-%d %H:%M:%S",time.localtime(time_))

In [3]:
def pre_process(data):
    '''
    :param data: 
    :return: 
    '''

    print('item_category_list_ing')
    for i in range(3):
        data['category_%d'%(i)] = data['item_category_list'].apply(
            lambda x:x.split(";")[i] if len(x.split(";")) > i else " "
        )
    del data['item_category_list']

    print('item_property_list_ing')
    for i in range(3):
        data['property_%d'%(i)] = data['item_property_list'].apply(
            lambda x:x.split(";")[i] if len(x.split(";")) > i else " "
        )
    del data['item_property_list']
    
    print('context_timestamp_ing')
    data['context_timestamp'] = data['context_timestamp'].apply(time2cov)
    
    return data

In [4]:
def pv(day):
    print(day)
    print(time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))
    data = pd.read_table(day + '.txt',sep=' ',index_col=False)
    data = pre_process(data)
    data = data.sort_values('context_timestamp')
    datatemp = []
    data['category_1_first']=0
    data['category_1_last']=0
    for name,num in data[['user_id','category_1','instance_id','context_timestamp','category_1_first','category_1_last']].groupby(['user_id','category_1']):
        num = num.reset_index().set_index(['index']).sort_values('context_timestamp')
        num =num.reset_index() 
        num =num.reset_index()
        temp = np.array(num.copy()).reshape(-1,8).tolist()
        temp[0][-2]=1
        temp[-1][-1]=1
        datatemp.extend(temp)
    #     print(np.array(num.copy()).reshape(-1,6))
#     print(datatemp.shape)
    print(time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))
    datatemp = pd.DataFrame(datatemp,columns=['category_1_pvnum','index','user_id','category_1','instance_id','context_timestamp','category_1_first','category_1_last'])
    datatemp[['instance_id','category_1_pvnum','category_1_first','category_1_last']].to_csv(day + '_user_clickpv.csv',index=False )
    del(datatemp)
    gc.collect()
    
    datatemp = []
    data['property_0_first']=0
    data['property_0_last']=0
    for name,num in data[['user_id','property_0','instance_id','context_timestamp','property_0_first','property_0_last']].groupby(['user_id','property_0']):
        num = num.reset_index().set_index(['index']).sort_values('context_timestamp')
        num =num.reset_index() 
        num =num.reset_index()
        temp = np.array(num.copy()).reshape(-1,8).tolist()
        temp[0][-2]=1
        temp[-1][-1]=1
        datatemp.extend(temp)
    #     print(np.array(num.copy()).reshape(-1,6))
#     print(datatemp.shape)
    print(time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))
    datatemp = pd.DataFrame(datatemp,columns=['property_0_pvnum','index','user_id','property_0','instance_id','context_timestamp','property_0_first','property_0_last'])
    datatemp[['instance_id','property_0_pvnum','property_0_first','property_0_last']].to_csv(day + '_property_0_pvnum.csv',index=False )
    del(datatemp)
    gc.collect()
    
    datatemp = []
    data['property_1_first']=0
    data['property_1_last']=0
    for name,num in data[['user_id','property_1','instance_id','context_timestamp','property_1_first','property_1_last']].groupby(['user_id','property_1']):
        num = num.reset_index().set_index(['index']).sort_values('context_timestamp')
        num =num.reset_index() 
        num =num.reset_index()
        temp = np.array(num.copy()).reshape(-1,8).tolist()
        temp[0][-2]=1
        temp[-1][-1]=1
        datatemp.extend(temp)
    #     print(np.array(num.copy()).reshape(-1,6))
#     print(datatemp.shape)
    print(time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))
    datatemp = pd.DataFrame(datatemp,columns=['property_1_pvnum','index','user_id','property_1','instance_id','context_timestamp','property_1_first','property_1_last'])
    datatemp[['instance_id','property_1_pvnum','property_1_first','property_1_last']].to_csv(day + '_property_1_pvnum.csv',index=False )
    del(datatemp)
    gc.collect()
    
    datatemp = []
    data['item_id_first']=0
    data['item_id_last']=0
    for name,num in data[['user_id','item_id','instance_id','context_timestamp','item_id_first','item_id_last']].groupby(['user_id','item_id']):
        num = num.reset_index().set_index(['index']).sort_values('context_timestamp')
        num =num.reset_index() 
        num =num.reset_index()
        temp = np.array(num.copy()).reshape(-1,8).tolist()
        temp[0][-2]=1
        temp[-1][-1]=1
        datatemp.extend(temp)
    #     print(np.array(num.copy()).reshape(-1,6))
#     print(datatemp.shape)
    print(time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))
    datatemp = pd.DataFrame(datatemp,columns=['item_id_pvnum','index','user_id','item_id','instance_id','context_timestamp','item_id_first','item_id_last'])
    datatemp[['instance_id','item_id_pvnum','item_id_first','item_id_last']].to_csv(day + '_item_id_pvnum.csv',index=False )
    del(datatemp)
    gc.collect()
    
    del(data)
    gc.collect()

In [5]:
# daylist = ['day_1','day_2','day_3','day_4','day_5','day_6','day_31']
daylist = ['day_1','day_2']

In [6]:
print(time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))

2018-04-28 21:53:22

In [7]:
for i in daylist:
    pv(i)

day_1
2018-04-28 21:53:26
item_category_list_ing
item_property_list_ing
context_timestamp_ing
2018-04-28 22:37:50
2018-04-28 23:28:45
2018-04-29 00:28:14
2018-04-29 01:43:23
day_2
2018-04-29 01:43:36
item_category_list_ing
item_property_list_ing
context_timestamp_ing
2018-04-29 02:24:52
2018-04-29 03:10:03
2018-04-29 04:01:39
2018-04-29 05:05:59

In [80]:
day = 'day_1'

In [104]:
data = pd.read_table(day + '.txt',sep=' ',index_col=False)

In [105]:
data = pre_process(data)

item_category_list_ing
item_property_list_ing
context_timestamp_ing

In [106]:
data = data.sort_values('context_timestamp')

In [107]:
data[['context_timestamp']]

           context_timestamp
191534   2018-09-01 00:00:00
1272935  2018-09-01 00:00:00
110224   2018-09-01 00:00:00
325911   2018-09-01 00:00:00
702444   2018-09-01 00:00:00
345331   2018-09-01 00:00:00
455111   2018-09-01 00:00:00
695695   2018-09-01 00:00:00
116861   2018-09-01 00:00:00
422940   2018-09-01 00:00:00
1040729  2018-09-01 00:00:00
629993   2018-09-01 00:00:00
80026    2018-09-01 00:00:00
1002076  2018-09-01 00:00:01
155598   2018-09-01 00:00:01
1326009  2018-09-01 00:00:01
100387   2018-09-01 00:00:01
404680   2018-09-01 00:00:01
1261975  2018-09-01 00:00:01
79589    2018-09-01 00:00:01
1298266  2018-09-01 00:00:01
1172143  2018-09-01 00:00:01
469621   2018-09-01 00:00:01
311631   2018-09-01 00:00:01
478736   2018-09-01 00:00:01
1155475  2018-09-01 00:00:02
182221   2018-09-01 00:00:02
576667   2018-09-01 00:00:02
652113   2018-09-01 00:00:02
432356   2018-09-01 00:00:02
...                      ...
1026568  2018-09-01 23:59:46
746507   2018-09-01 23:59:46
1149068  2018-09-01 23:59:46
521363   2018-09-01 23:59:46
1267645  2018-09-01 23:59:46
516170   2018-09-01 23:59:46
1192077  2018-09-01 23:59:47
183684   2018-09-01 23:59:47
538051   2018-09-01 23:59:48
48695    2018-09-01 23:59:48
1189759  2018-09-01 23:59:48
477007   2018-09-01 23:59:48
940709   2018-09-01 23:59:49
558983   2018-09-01 23:59:49
857134   2018-09-01 23:59:49
57419    2018-09-01 23:59:49
91583    2018-09-01 23:59:49
1180221  2018-09-01 23:59:49
1332235  2018-09-01 23:59:49
439550   2018-09-01 23:59:50
1313578  2018-09-01 23:59:50
1083093  2018-09-01 23:59:51
901826   2018-09-01 23:59:51
12460    2018-09-01 23:59:52
6476     2018-09-01 23:59:53
866174   2018-09-01 23:59:53
25071    2018-09-01 23:59:54
538578   2018-09-01 23:59:55
813149   2018-09-01 23:59:55
909776   2018-09-01 23:59:56

[1340697 rows x 1 columns]

In [153]:
datatemp = []
data['category_1_first']=0
data['category_1_last']=0
for name,num in data[['user_id','category_1','instance_id','context_timestamp','category_1_first','category_1_last']].groupby(['user_id','category_1']):
    num = num.reset_index().set_index(['index']).sort_values('context_timestamp')
    num =num.reset_index() 
    num =num.reset_index()
#     print(type(datatemp))
    temp = np.array(num.copy()).reshape(-1,8).tolist()
    temp[0][-2]=1
    temp[-1][-1]=1
    datatemp.extend(temp)
#     print(np.array(num.copy()).reshape(-1,6).tolist())

KeyboardInterrupt:

In [156]:
datatemp

,category_1_pvnum,index,user_id,category_1,instance_id,context_timestamp,category_1_first,category_1_last
0,0,1079608,1523553916360,6693726201323251689,8109981865239977454,2018-09-01 00:30:56,1,0
1,1,231751,1523553916360,6693726201323251689,6103141702091929012,2018-09-01 22:57:04,0,0
2,2,686850,1523553916360,6693726201323251689,8701793303778000541,2018-09-01 23:01:20,0,1
3,0,165809,5742370312099,2871729383671301763,1759248571755167058,2018-09-01 13:27:20,1,0
4,1,325700,5742370312099,2871729383671301763,3136065290536705230,2018-09-01 13:27:48,0,1
5,0,281610,82470453442674,1909641874861640857,207286356963474113,2018-09-01 12:56:18,1,1
6,0,990727,82470453442674,6670526099037031245,1476565150975903724,2018-09-01 12:56:18,1,1
7,0,413061,84493792031619,5685690139879409547,8938128107844008499,2018-09-01 19:52:52,1,0
8,1,1243515,84493792031619,5685690139879409547,1917131030461627814,2018-09-01 19:53:44,0,0
9,2,1091933,84493792031619,5685690139879409547,9039587502724513915,2018-09-01 20:02:38,0,0
10,3,748398,84493792031619,5685690139879409547,3598135092978573850,2018-09-01 20:18:17,0,1
11,0,199251,84493792031619,8841625760168847319,3960512651990493738,2018-09-01 20:25:06,1,0
12,1,800116,84493792031619,8841625760168847319,7069201053522169474,2018-09-01 20:28:03,0,1
13,0,638328,116523863131482,3348197449185791127,5470538690202161731,2018-09-01 13:44:42,1,0
14,1,399728,116523863131482,3348197449185791127,8047106331859349005,2018-09-01 13:44:42,0,0
15,2,271540,116523863131482,3348197449185791127,8761264796998300856,2018-09-01 13:45:14,0,1
16,0,719064,118869601891011,6670526099037031245,1630468981543582089,2018-09-01 18:39:18,1,0
17,1,709115,118869601891011,6670526099037031245,967693948828999580,2018-09-01 18:41:03,0,0
18,2,1339948,118869601891011,6670526099037031245,9170132350638545529,2018-09-01 18:41:52,0,1
19,0,884719,139185858192371,3613783563199627217,3488263816750077060,2018-09-01 11:24:39,1,1
20,0,842653,229148490361325,1909641874861640857,672558841631010067,2018-09-01 19:39:37,1,0
21,1,891285,229148490361325,1909641874861640857,3923844713809246128,2018-09-01 23:21:36,0,1
22,0,327154,229148490361325,768579787521575291,3234422263089207622,2018-09-01 19:46:32,1,0
23,1,724990,229148490361325,768579787521575291,2030773720833882744,2018-09-01 23:24:40,0,1
24,0,798274,253082266017401,8841625760168847319,6946854091030105142,2018-09-01 22:49:07,1,1
25,0,145706,260383207933749,768579787521575291,427855408910046665,2018-09-01 02:16:44,1,1
26,0,502849,279923877301037,3613783563199627217,5679209657961424424,2018-09-01 12:37:38,1,1
27,0,948479,279923877301037,5685690139879409547,7750717213170119340,2018-09-01 12:37:38,1,1
28,0,427972,315906374839470,6693726201323251689,698321979712073965,2018-09-01 13:25:04,1,1
29,0,1334786,318010387239957,5685690139879409547,8777458367986732516,2018-09-01 21:49:30,1,1
...,...,...,...,...,...,...,...,...
6333,1,998297,45127903718619131,1909641874861640857,2044223679124377279,2018-09-01 22:57:42,0,0
6334,2,860406,45127903718619131,1909641874861640857,1856352062147306278,2018-09-01 22:59:33,0,1
6335,0,200972,45127903718619131,3613783563199627217,4074014209102577726,2018-09-01 22:46:41,1,0
6336,1,236722,45127903718619131,3613783563199627217,6435383425533912031,2018-09-01 22:48:15,0,0
6337,2,1338099,45127903718619131,3613783563199627217,9026609030668518529,2018-09-01 22:56:38,0,0
6338,3,548636,45127903718619131,3613783563199627217,8731583706828701053,2018-09-01 22:57:00,0,0
6339,4,835760,45127903718619131,3613783563199627217,210760346889666600,2018-09-01 22:57:42,0,0
6340,5,698495,45127903718619131,3613783563199627217,265221634162142818,2018-09-01 22:57:53,0,0
6341,6,834723,45127903718619131,3613783563199627217,141217085744343867,2018-09-01 22:58:23,0,0
6342,7,916235,45127903718619131,3613783563199627217,5579205268824209103,2018-09-01 23:03:10,0,0
6343,8,621804,45127903718619131,3613783563199627217,4375632545880864254,2018-09-01 23:04:53,0,1
6344,0,566307,45149703540748879,1909641874861640857,679143304123959269,2018-09-01 12:42:22,1,0
6345,1,56062,45149703540748879,1909641874861640857,3708223315528798432,2018-09-01 12:42:44,0,0
6346,2,793512,45149703540748879,1909641874861640857,6631112315351825813,2018-09-01 22:44:48,0,1
6347,0,516131,45149703540748879,5685690139879409547,6567349761616291842,2018-09-01 00:10:24,1,0
6348,1,767554,45149703540748879,5685690139879409547,4879207713054824064,2018-09-01 00:13:34,0,0
6349,2,1087108,45149703540748879,5685690139879409547,8676155096814813019,2018-09-01 00:13:34,0,0
6350,3,601784,45149703540748879,5685690139879409547,3044311842143280045,2018-09-01 12:43:07,0,0
6351,4,526448,45149703540748879,5685690139879409547,7254697642489679308,2018-09-01 12:46:43,0,0
6352,5,483111,45149703540748879,5685690139879409547,4374291200338847352,2018-09-01 12:48:34,0,0
6353,6,1002993,45149703540748879,5685690139879409547,2389987949533565078,2018-09-01 12:51:13,0,0
6354,7,258570,45149703540748879,5685690139879409547,7887061275603917031,2018-09-01 12:52:13,0,0
6355,8,1211939,45149703540748879,5685690139879409547,8790512876627451300,2018-09-01 12:52:20,0,0
6356,9,112401,45149703540748879,5685690139879409547,7438885592070348191,2018-09-01 12:57:49,0,0
6357,10,1136921,45149703540748879,5685690139879409547,3185214098308865499,2018-09-01 13:02:19,0,0
6358,11,520552,45149703540748879,5685690139879409547,6863416777617307103,2018-09-01 13:02:19,0,0
6359,12,376828,45149703540748879,5685690139879409547,6533468347184422479,2018-09-01 22:02:31,0,0
6360,13,58712,45149703540748879,5685690139879409547,3884779046023639432,2018-09-01 22:04:09,0,0
6361,14,1008042,45149703540748879,5685690139879409547,2770759733881626418,2018-09-01 22:53:55,0,0
6362,15,321721,45149703540748879,5685690139879409547,2876379698504078675,2018-09-01 22:55:54,0,1

In [155]:
datatemp = pd.DataFrame(datatemp,columns=['category_1_pvnum','index','user_id','category_1','instance_id','context_timestamp','category_1_first','category_1_last'])

In [ ]:
datatemp[['instance_id','category_1_pvnum']].to_csv(day + '_user_clickpv.csv',index=False )

In [157]:
del(datatemp)
gc.collect()

92928

In [158]:
del(data)
gc.collect()

20